.c-toggle-theme-btn {
  background-color: rgba(19, 19, 19, 0.37);
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 20px;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  transition-duration: 200ms;

  &--light {
    .c-toggle-theme-btn__icon {
      transform: translateX(32px);
    }
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(53, 53, 53, 0.37);
  }

  .c-toggle-theme-btn__icon {
    position: absolute;
    transition: all 250ms ease-out;
    left: 4px;
    display: flex;

    svg {
      height: 32px;
    }
  }
}
