@use "../../../styles/abstracts/functions/breakpointsFuncs" as *;

.p-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 32px;
  gap: 32px;

  &__folders {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px 15%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (min-width: breakpoint(sm)) {
  .p-homepage {
    &__folders {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 32px 48px;
      width: initial;

      button:nth-child(1),
      button:nth-child(3),
      button:nth-child(6),
      button:nth-child(8) {
        background-image: url("/src/assets/images/folder--violet.png");
      }

      button:nth-child(2),
      button:nth-child(4),
      button:nth-child(5),
      button:nth-child(7) {
        background-image: url("/src/assets/images/folder--purple.png");
      }
    }
  }
}

@media only screen and (min-width: breakpoint(md)) {
  .p-homepage {
    &__folders {
      gap: 32px 64px;
    }
  }
}
