@use "../../../styles/abstracts/functions/breakpointsFuncs" as *;

.p-classes {
  background: var(--p-home-page-bg-color);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: var(--text-primary);

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 32px;
    gap: 32px;

    &__periodo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      img {
        height: 100px;
      }
    }

    &__folders {
      display: flex;
      flex-wrap: wrap;
      gap: 32px 15%;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (min-width: breakpoint(sm)) {
  .p-classes {
    &__main {
      &__folders {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px 48px;
        width: initial;
        max-width: 800px;
      }
    }
  }
}

@media only screen and (min-width: breakpoint(md)) {
  .p-classes {
    &__main {
      &__folders {
        gap: 32px 64px;
      }
    }
  }
}
