@use "../../../styles/abstracts/functions/breakpointsFuncs" as *;

.p-classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px 80px 32px;
  gap: 32px;

  &__nav-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  &__nav-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    h2 {
      display: none;
    }

    img {
      height: 100px;
    }
  }

  &__folders {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 15%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: breakpoint(sm)) {
  .p-classes {
    &__folders {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 32px 48px;
      width: initial;
      max-width: 800px;
    }
  }
}

@media only screen and (min-width: breakpoint(md)) {
  .p-classes {
    margin: 0 auto;
    padding: 64px 32px;
    max-width: 800px;

    &__nav-search {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
    }

    &__nav-indicator {
      flex-direction: row;

      h2 {
        display: initial;
      }

      &__description {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    &__folders {
      gap: 32px 64px;
    }
  }
}
