.c-file-li {
  background-color: var(--c-file-li-bg-color);
  color: var(--text-primary);
  list-style-type: none;
  display: inline-flex;
  gap: 16px;
  padding: 16px;
  border-radius: 50px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &__icon {
    height: 16px;
    width: 16px;
  }
}
