:root {
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --bg-color: linear-gradient(
    11.45deg,
    rgb(193, 135, 255) 18%,
    rgb(246, 188, 255) 27%,
    rgb(225, 236, 251) 59%,
    rgb(194, 208, 255) 80%,
    rgb(196, 137, 254) 100%
  );
}

[data-theme="dark"] {
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --bg-color: linear-gradient(
    45deg,
    rgba(60, 2, 123, 1),
    rgba(80, 8, 91, 1),
    rgba(7, 35, 71, 1),
    rgba(32, 49, 108, 1),
    rgba(62, 3, 120, 1)
  );
}
